.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  z-index: 1000;
}

#gui {
  display: none;
}

#canvas-container {
  /*background: #000 url(https://jackrugile.com/lab/fireworks-v2/images/bg.jpg);*/
  /*height: 400px;*/
  left: 0;
  /*margin: -200px 0 0 -300px;*/
  position: absolute;
  /*top: 50%;*/
  /*width: 600px;*/
  z-index: 2;
  margin: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

canvas {
  cursor: crosshair;
  display: block;
  position: relative;
  z-index: 3;

  width: 100%;
  height: 100%;
}

canvas:active {
  cursor: crosshair;
}

#skyline {
  background: url(https://jackrugile.com/lab/fireworks-v2/images/skyline.png) repeat-x 50% 0;
  bottom: 0;
  height: 135px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#mountains1 {
  background: url(https://jackrugile.com/lab/fireworks-v2/images/mountains1.png) repeat-x 40% 0;
  bottom: 0;
  height: 200px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#mountains2 {
  background: url(https://jackrugile.com/lab/fireworks-v2/images/mountains2.png) repeat-x 30% 0;
  bottom: 0;
  height: 250px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
